.margin-top{
    margin-top: 5px;
}
.margin-bottom{
    margin-bottom: 10px;
}
.dat-picker input {
  float: left;
  width: 82%;
}
.dat-picker span {
  display: block !important;
  float: left;
  margin-right: 10px;
}
.hide{
    display:none;
}
